<div class="container">
  <div class="gridblock">
    <h2>Werkdag progressie</h2>
    % van dag voorbij
  </div>
  <div class="gridblock">
    <button>Zet timer voor 1 uur</button>
  </div>
  <div class="gridblock">
    <h2>Taalkaarten</h2>
    <div class="card card_1" *ngIf="activeside == '1'" (click)="flipCard()">
      {{ card.side_1 }}
      <div class="flag de" *ngIf="card.language == 'de'"></div>
      <div class="flag it" *ngIf="card.language == 'it'"></div>
      <div class="flag es" *ngIf="card.language == 'es'"></div>
    </div>
    <div class="card card_2" *ngIf="activeside == '2'" (click)="flipCard()">
      {{ card.side_2 }}
      <div class="flag de" *ngIf="card.language == 'de'"></div>
      <div class="flag it" *ngIf="card.language == 'it'"></div>
      <div class="flag es" *ngIf="card.language == 'es'"></div>
    </div>
    <br>
    <div class="refresh" (click)="flipCard()"></div>
    <br>
    <button (click)="getRandomCard()">Ververs kaart</button>
  </div>
  <div class="gridblock">
    <h2>Taken vandaag</h2>
    <div *ngFor="let task of tasks; index as i" class="task">
      <input type="checkbox" [(ngModel)]="task.completed" (click)="saveTasks()">
      <div class="tasktext">{{ task.task }}</div>
      <span class="remove" (click)="removeTask(i)">X</span>
    </div>
    <span class="notasks" *ngIf="tasks.length == 0">
      Nog geen taken voor vandaag
    </span>
    <br>
    <button *ngIf="!isAddingTask" (click)="prepareTask()">Taak toevoegen</button>
    <div *ngIf="isAddingTask">
      <label>Taak:</label>
      <input type="text" [(ngModel)]="taskText">
      <button (click)="addTask()">Taak toevoegen</button>
      <button (click)="isAddingTask = false" class="cancel">Annuleer</button>
    </div>
  </div>
</div>
